# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Descargas incompletas y archivos pesados que no van al repo
*.crdownload
*.zip

# Editores
.vscode/
.idea/

# Dependencias / secretos (por si mas adelante usas Node)
node_modules/
.env
